<section id="header">
<div
class="relative pt-16 pb-32 flex content-center items-center justify-center"
>
<div
  class="absolute top-0 w-full h-full bg-center bg-cover"
  style="
    background-image: url('assets/img/{{site.banner-image}}');
  "
>
  <span
    id="blackOverlay"
    class="w-full h-full absolute opacity-50 bg-black"
  ></span>
</div>
<div class="container relative mx-auto pt-20">
  <div class="items-center flex flex-wrap">
    <div class="w-full lg:w-8/12 px-4 ml-auto mr-auto text-center">
      <div class="pr-12   ">
        <span class="inline-block align-middle">
        <h1 class="text-white font-semibold text-4xl">
          {{page.title}}
        </h1>
        </span>
      </div>
    </div>
  </div>
</div>
</div>
</section>




