<nav
class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-white shadow"
>
<div
  class="container px-4 mx-auto flex flex-wrap items-center justify-between"
>
  <div
    class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
  >
    <a
      class="text-blueGray-700 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
      href="./index.html"
      >TAILPAGES</a
    ><button
      class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
      type="button"
      onclick="toggleNavbar('example-collapse-navbar')"
    >
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div
    class="lg:flex flex-grow items-center bg-white lg:bg-opacity-0 lg:shadow-none hidden"
    id="example-collapse-navbar"
  >
    <ul
      class="flex flex-col lg:flex-row list-none lg:ml-auto items-center"
    >
      <li class="inline-block relative">
        <a
          class="hover:text-blueGray-500 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
          href="#"
          onclick="openDropdown(event,'demo-pages-dropdown')"
        >
          Pages
        </a>
        <div
          class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48 navbar-popper"
          id="demo-pages-dropdown"
        >
          <a
            href="{{site.url}}/no-navbar.html"
            class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
          >
            No Navbar
          </a>
        </div>
      </li>

      <li class="inline-block relative">
        <a
          class="hover:text-blueGray-500 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
          href="{{ site.url }}/#team"
        >
          Team
        </a>

      </li>

      </li>

      {% if site.twitter %}
      <li class="flex items-center">
        <a
          class="hover:text-blueGray-500 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
          href="{{site.twitter}}"
          target="_blank"
          ><i
            class="text-blueGray-400 fab fa-twitter text-lg leading-lg"
          ></i
          ><span class="lg:hidden inline-block ml-2">Tweet</span></a
        >
      </li>
      {% endif %}

      {% if site.facebook %}
      <li class="flex items-center">
        <a
          class="hover:text-blueGray-500 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
          href="{{site.facebook}}"
          target="_blank"
          ><i
            class="text-blueGray-400 fab fa-facebook text-lg leading-lg"
          ></i
          ><span class="lg:hidden inline-block ml-2">Share</span></a
        >
      </li>
      {% endif %}

      {% if site.github %}
      <li class="flex items-center">
        <a
          class="hover:text-blueGray-500 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
          href="{{site.github}}"
          target="_blank"
          ><i
            class="text-blueGray-400 fab fa-github text-lg leading-lg"
          ></i
          ><span class="lg:hidden inline-block ml-2">Star</span>
        </a>
      </li>
      {% endif %}

      {% if site.download %}
      <li class="flex items-center">
        <a
        class="hover:text-blueGray-500 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
        href="{{site.download}}"
        target="_blank"
        >
        <button
          class="text-white bg-pink-500 active:bg-pink-600 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
          type="button"
        >
          <i class="fas fa-arrow-alt-circle-down"></i> Download
        </button>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
</nav>
